footer.footer {
  background-color: $color-dark;
  div.footer_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px 0;
    div.footer-left {
      display: flex;
      flex-direction: column;
      max-width: 220px;
      width: 100%;
      div.footer-left_title {
        a.footer-left_title-logo {
          display: block;
          padding-bottom: 20px;
          svg {
            fill: $color-white;
            vertical-align: middle;
            transform: rotate(-180deg);
          }
          span.footer-left_title-name {
            display: inline-block;
            width: max-content;
            font-size: 1.25rem;
            font-weight: 600;
            letter-spacing: 1.2;
            line-height: 1.2;
            color: $color-white;
            border: 2px solid $color-white;
            border-radius: 20px;
            margin-left: 0.5rem;
            padding: 0.5rem;
          }
        }
        span.footer-left_left_title-description {
          display: block;
          font-size: 0.75rem;
          font-weight: 600;
          letter-spacing: 1.2;
          line-height: 1.2;
          color: darken($color-grey-light, 30%);
          padding-bottom: 40px;
        }
        div.footer-left_icons {
          display: flex;
          justify-content: space-between;
          align-items: center;
          svg {
            fill: $color-grey-dark;
          }
        }
      }
    }
    div.footer-navigation {
      ul.footer-navigation_menu {
        column-count: 2;
        column-gap: 4vw;
        li.footer-navigation_menu-item {
          padding-bottom: 1rem;
          a {
            position: relative;
            width: max-content;
            font-size: 1rem;
            font-weight: 500;
            color: darken($color-grey-light, 30%);
            &::after {
              content: "";
              position: absolute;
              top: 110%;
              left: 0;
              display: block;
              width: 0%;
              height: 1px;
              background-color: $color-grey-dark;
            }
          }
          &:hover > a::after {
            width: 100%;
            transition: 0.5s;
          }
        }
      }
    }
    div.footer-subscribe {
      display: flex;
      flex-direction: column;
      max-width: 220px;
      width: 100%;
      span.footer-subscribe_text {
        display: block;
        color: darken($color-grey-light, 30%);
        letter-spacing: 1.2;
        line-height: 1.2;
        margin-bottom: 20px;
      }
      div.footer-subscribe_input {
        position: relative;
        input {
          width: 100%;
          border: 1px solid $color-grey-dark;
          background-color: $color-dark;
          border-radius: 2rem;
          padding: 1rem 1.5rem;
          &:focus {
            color: $color-white;
          }
        }
        button {
          position: absolute;
          right: 0.25rem;
          top: 50%;
          transform: translateY(-50%);
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: $color-white;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  footer.footer {
    div.footer_wrapper {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      div.footer-left {
        max-width: 600px;
        div.footer-left_title {
          a.footer-left_title-logo {
            svg {
              width: 80px;
              height: 80px;
            }
            span.footer-left_title-name {
              font-size: 1.5rem;
            }
          }
          span.footer-left_left_title-description {
            font-size: 1rem;
            padding-bottom: 30px;
          }
          div.footer-left_icons {
            justify-content: flex-start;
            padding-bottom: 30px;
            svg {
              margin-left: 2rem;
            }
          }
        }
      }
      div.footer-navigation {
        ul.footer-navigation_menu {
          column-gap: 50vw;
          padding-left: 0;
        }
      }
      div.footer-subscribe {
        max-width: 600px;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  footer.footer {
    div.footer_wrapper {
      div.footer-navigation {
        ul.footer-navigation_menu {
          column-gap: 40vw;
        }
      }
      div.footer-subscribe {
        max-width: 600px;
      }
    }
  }
}

@media screen and (max-width: 387px) {
  footer.footer {
    div.footer_wrapper {
      div.footer-navigation {
        ul.footer-navigation_menu {
          column-gap: 30vw;
        }
      }
      div.footer-subscribe {
        max-width: 600px;
        span.footer-subscribe_text {
          font-size: 0.75rem;
        }
      }
    }
  }
}
