section.home-hero {
  min-height: 100vh;
  padding: {
    top: 115px;
    bottom: 90px;
  }
  background-image: linear-gradient(
    180deg,
    $color-grey-light 0%,
    $color-grey-light 65%,
    $color-dark 65%,
    $color-dark 100%
  );
  overflow: hidden; // 圖片跑馬燈animation遮蔽
  div.container {
    div.home-hero_wrapper {
      padding-top: 100px;
      div.home-hero_title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 90px;
        h1.title {
          width: 100%;
          height: 7rem;
          text-align: center;
          margin-bottom: 60px;
          span {
            font-size: 4rem;
            font-weight: 700;
          }
        }
        a {
          font-size: 1rem;
          font-weight: 500;
          color: $color-white;
          width: max-content;
          text-align: center;
          border: 2px solid $color-blue;
          border-radius: 1.8rem;
          background-color: $color-blue;
          padding: 1rem 2rem;
        }
      }
      div.home-hero_images {
        position: relative;
        z-index: 0;
        padding: 40px 2rem 90px;
        div.home-hero_image-main {
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 100%;
            border-radius: 1rem;
            vertical-align: middle;
          }
        }
        div.home-hero_image-top-after {
          position: absolute;
          z-index: -1;
          left: 0;
          top: -2.5%;
          img {
            border-radius: 1rem;
            width: 25%;
            opacity: 0.6;
          }
        }
        div.home-hero_image-top-behind {
          position: absolute;
          z-index: 1;
          left: 75%;
          top: 70%;
          img {
            width: 20%;
          }
        }
        div.home-hero_image-bottom-behind {
          position: absolute;
          z-index: 1;
          left: 70%;
          top: 95%;
          img {
            width: 25%;
          }
        }
      }
      div.home-hero_description {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: auto;
        padding: 32px 0;
        div.home-hero_description-left {
          max-width: 480px;
          width: 100%;
        }
        div.home-hero_description-right {
          max-width: 175px;
          width: 100%;
        }
        p {
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 1.28;
          text-align: left;
          color: $color-white;
          span.number {
            font-size: 5rem;
            font-weight: 700;
            line-height: 1;
          }
          span.little {
            display: block;
            font-size: 1rem;
            line-height: 1.33;
            opacity: 0.6;
          }
        }
      }
      div.home-hero_slider-title {
        box-sizing: content-box;
        padding: 100px 0 42px;
        h2 {
          font-size: 1rem;
          color: $color-grey-light;
          text-align: center;
          opacity: 0.6;
        }
      }
    }
    div.home-hero_slider {
      background-color: $color-dark;
      padding-bottom: 40px;
      div.home-hero_slider-wraper {
        position: relative;
        display: flex;
        width: 100%;
        animation: slider 20s linear -0.3s alternate infinite;
        @for $i from 0 through 23 {
          div.slide-partner#{$i} {
            position: absolute;
            left: -200 + 150 * $i + px;
          }
        }
      }
    }
  }
}
section.study-center-achievement {
  div.study-center-achievement_wrapper {
    padding: 160px 0;
    h2.study-center-achievement_title {
      max-width: 900px;
      width: 100%;
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.3;
      color: $color-dark;
      text-align: center;
      margin: auto;
    }
    div.study-center-achievement_info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1000px;
      width: 100%;
      background-color: $color-grey-light;
      border-radius: 1rem;
      padding: 16px;
      margin: 60px auto 20px;
      img {
        width: 400px;
        height: 300px;
        border-radius: 1rem;
      }
      div.study-center-achievement_info-text {
        max-width: 425px;
        width: 100%;
        padding: 1.5rem;
        p {
          font-size: 1.5rem;
          font-weight: 600;
          line-height: 1.2;
          color: $color-grey-dark;
          span {
            color: $color-dark;
          }
        }
      }
    }
    ul.study-center-achievement_items {
      display: flex;
      justify-content: space-between;
      max-width: 1000px;
      width: 100%;
      padding-left: 0;
      margin: auto;
      li.mini-card {
        max-width: 312px;
        width: 100%;
        background-color: $color-grey-light;
        border-radius: 1rem;
        padding: 2.5rem;
        div.icon {
          width: 100%;
          height: 72px;
        }
        span.name {
          display: block;
          font-weight: 600;
          color: $color-grey-dark;
        }
        span.number {
          font-size: 3rem;
          font-weight: 600;
          line-height: 1.5;
        }
      }
    }
  }
}
section.more-for-study-center {
  overflow: hidden;
  div.more-for-study-center_wrapper {
    position: relative;
    padding: 90px 0;
    div.more-for-study-center_info {
      padding-bottom: 180px;
      div.more-for-study-center_image {
        position: absolute;
        left: -90%;
        top: 90px;
        max-width: 1280px;
        max-height: 800px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      div.more-for-study-center_info-text {
        max-width: 460px;
        width: 100%;
        margin-left: auto;
        padding-top: 90px;
        h2.more-for-study-center_title {
          font-size: 3rem;
          font-weight: 700;
          line-height: 1.1;
          color: $color-dark;
          padding-bottom: 20px;
        }
        p.more-for-study-center_description {
          font-size: 1rem;
          font-weight: 600;
          color: $color-grey-dark;
          line-height: 1.25;
        }
        div.more-for-study-center_description {
          font-size: 1rem;
          font-weight: 600;
          color: $color-grey-dark;
          line-height: 1.25;
          text-align: justify;
          span.number {
            display: block;
            font-size: 5rem;
            color: $color-dark;
          }
          &:last-of-type {
            max-width: 360px;
            width: 100%;
            text-align: left;
          }
        }
        img {
          max-width: 450px;
          width: 100%;
          max-height: 120px;
          margin: 45px auto 45px;
        }
        div.more-for-study-center_link {
          width: max-content;
          border: 1px solid $color-blue;
          background-color: $color-blue;
          border-radius: 2.5rem;
          padding: 1.25rem 1.75rem;
          margin-top: 60px;
          a {
            font-weight: 600;
            color: $color-white;
          }
        }
      }
    }
    div.more-for-study-center_items {
      position: relative;
      ul.more-for-study-center_items-list {
        display: flex;
        flex-wrap: wrap;
        max-width: 560px;
        width: 100%;
        li.more-for-study-center_item {
          max-width: 260px;
          width: 100%;
          font-size: 1rem;
          font-weight: 600;
          line-height: 1.3;
          color: $color-dark;
          padding: 2rem;
          div.icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 85px;
            height: 85px;
            background-color: $color-white;
            border-radius: 1rem;
            margin-bottom: 40px;
          }
          span {
            display: block;
          }
        }
      }
      div.more-for-study-center-items_image {
        max-width: 1400px;
        width: 100%;
        img.more-for-study-center-items_image-reservation {
          position: absolute;
          left: 70%;
          top: 0;
          width: 100%;
          border-radius: 1rem;
        }
        img.more-for-study-center-items_image-seats {
          position: absolute;
          left: 50%;
          top: -10%;
          width: 40%;
          border-radius: 1rem;
        }
      }
    }
  }
}
section.studying-magic {
  div.studying-magic_wrapper {
    padding: 180px 0;
    h2.studying-magic_title,
    span.studying-magic_subtitle {
      max-width: 800px;
      width: 100%;
      font-size: 4.2rem;
      font-weight: 600;
      white-space: pre-line;
      color: $color-white;
      text-align: center;
      margin: auto;
      padding-bottom: 40px;
    }
    span.studying-magic_subtitle {
      display: block;
      font-size: 1rem;
      line-height: 1.2;
      color: $color-grey-dark;
    }
    div.studying-magic_card-interactive {
      div.studying-magic_cards {
        position: relative;
        margin: auto;
        ul.studying-magic_card-list {
          max-width: 1240px;
          width: 100%;
          padding: 0;
          div.studying-magic_card-interactives {
            &:first-child {
              padding-top: 180px;
            }
            .studying-magic_desktop-empty {
              display: block;
              height: 32rem;
            }
            // .studying-magic_mobile-empty {
            //   display: block;
            //   height: 64rem;
            // }
            li.studying-magic_card {
              position: -webkit-sticky;
              position: sticky;
              top: 50vh;
              transform: translateY(-50%);
              display: flex;
              justify-content: space-between;
              align-items: center;
              div.studying-magic_card-image {
                max-width: 582px;
                width: 100%;
                max-height: 520px;
                img {
                  max-width: 100%;
                  vertical-align: middle;
                }
              }
              div.studying-magic_card-description {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                background-color: lighten($color-dark, 5%);
                border-radius: 1rem;
                padding: 56px 40px;
                span.studying-magic_card-step {
                  font-size: 1.15rem;
                  font-weight: 450;
                  line-height: 1.2;
                  color: lighten($color-dark, 30%);
                  margin-right: auto;
                  padding-bottom: 64px;
                }
                h3.studying-magic_card-step {
                  display: block;
                  font-size: 1.5rem;
                  font-weight: 600;
                  line-height: 1.2;
                  color: lighten($color-grey-dark, 20%);
                }
              }
            }
          }
        }
      }
    }
  }
}

// 圖片跑馬燈動畫
@keyframes slider {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media screen and (max-width: 992px) {
  section.home-hero {
    background-image: linear-gradient(
      180deg,
      $color-grey-light 0%,
      $color-grey-light 60%,
      $color-dark 60%,
      $color-dark 100%
    );
  }
  section.study-center-achievement {
    div.study-center-achievement_wrapper {
      h2.study-center-achievement_title {
        font-size: 2.5rem;
      }
    }
  }
  section.more-for-study-center {
    div.more-for-study-center_wrapper {
      div.more-for-study-center_info {
        div.more-for-study-center_image {
          left: -75%;
          img {
            width: 75%;
            height: 75%;
          }
        }
      }
      div.more-for-study-center_items {
        div.more-for-study-center-items_image {
          img.more-for-study-center-items_image-reservation {
            top: 25%;
            width: 75%;
          }
          img.more-for-study-center-items_image-seats {
            left: 80%;
            top: 10%;
            width: 30%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 850px) {
  section.more-for-study-center {
    div.more-for-study-center_wrapper {
      div.more-for-study-center_info {
        div.more-for-study-center_image {
          left: -95%;
        }
      }
    }
  }
  section.studying-magic {
    div.studying-magic_wrapper {
      h2.studying-magic_title {
        font-size: 2.85rem;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  section.home-hero {
    background-image: linear-gradient(
      180deg,
      $color-grey-light 0%,
      $color-grey-light 50%,
      $color-dark 50%,
      $color-dark 100%
    );
    div.container {
      div.home-hero_wrapper {
        div.home-hero_title {
          h1.title {
            margin-bottom: 30px;
            span {
              font-size: 3rem;
            }
          }
        }
        div.home-hero_description {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          div.home-hero_description-left,
          div.home-hero_description-right {
            max-width: none;
            width: 100%;
            padding: 0 2rem 2rem 2rem;
          }
          div.home-hero_description-right {
            padding-bottom: 0;
            p {
              span.number {
                display: block;
                text-align: center;
                padding-bottom: 1rem;
              }
              span.little {
                font-size: 1.25rem;
              }
            }
          }
        }
      }
    }
  }
  section.study-center-achievement {
    div.study-center-achievement_wrapper {
      h2.study-center-achievement_title {
        font-size: 2.25rem;
      }
      div.study-center-achievement_info {
        display: flex;
        flex-direction: column;
        div.study-center-achievement_info-text {
          max-width: none;
          padding: 1.25rem;
          p {
            font-size: 1.25rem;
          }
        }
      }
      ul.study-center-achievement_items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 20px;
        li.mini-card {
          max-width: none;
          &:last-child {
            grid-area: 2/1/3/3;
          }
        }
      }
    }
  }
  section.more-for-study-center {
    div.more-for-study-center_wrapper {
      div.more-for-study-center_info {
        display: flex;
        flex-direction: column;
        div.more-for-study-center_image {
          position: relative;
          left: 0;
          top: 0;
          img {
            width: 100%;
            height: 100%;
          }
        }
        div.more-for-study-center_info-text {
          max-width: none;
          h2.more-for-study-center_title {
            text-align: center;
          }
          div.more-for-study-center_info-img {
            display: flex;
            justify-content: center;
            align-items: center;
          }
          p.more-for-study-center_description {
            text-align: center;
          }
          div.more-for-study-center_description {
            text-align: right;
            span.number {
              display: block;
            }
            span.info {
              display: block;
              max-width: 300px;
              width: 100%;
              text-align: left;
              margin-left: auto;
              padding-top: 1.5rem;
            }
          }
          div.more-for-study-center_link {
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
      div.more-for-study-center_items {
        ul.more-for-study-center_items-list {
          flex-direction: column;
          li.more-for-study-center_item {
            display: flex;
            background-color: $color-white;
            border-radius: 2rem;
            padding: 0;
            margin-bottom: 1rem;
            div.icon {
              width: 60px;
              height: 60px;
            }
            span {
              padding-left: 1rem;
              margin: auto;
            }
          }
        }
        div.more-for-study-center-items_image {
          img.more-for-study-center-items_image-reservation {
            left: 70%;
            top: 10%;
            width: 100%;
          }
          img.more-for-study-center-items_image-seats {
            left: 55%;
            top: -10%;
            width: 40%;
          }
        }
      }
    }
  }
  section.studying-magic {
    div.studying-magic_wrapper {
      padding-bottom: 0;
      h2.studying-magic_title {
        padding-bottom: 20px;
      }
      span.studying-magic_subtitle {
        padding-bottom: 120px;
      }
      div.studying-magic_card-interactive {
        div.studying-magic_cards {
          ul.studying-magic_card-list {
            div.studying-magic_card-interactives {
              .studying-magic_desktop-empty :not(:last-child) {
                height: 64rem;
              }
              li.studying-magic_card {
                flex-direction: column;
                div.studying-magic_card-description {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  section.home-hero {
    background-image: linear-gradient(
      180deg,
      $color-grey-light 0%,
      $color-grey-light 45%,
      $color-dark 45%,
      $color-dark 100%
    );
    div.container {
      div.home-hero_wrapper {
        div.home-hero_title {
          h1.title {
            margin-bottom: 15px;
            span {
              font-size: 2.5rem;
            }
          }
        }
        div.home-hero_slider-title {
          padding: 32px 0 16px;
          h2 {
            font-size: 1.25rem;
          }
        }
      }
    }
  }
  section.study-center-achievement {
    div.study-center-achievement_wrapper {
      h2.study-center-achievement_title {
        font-size: 2rem;
      }
      div.study-center-achievement_info {
        div.study-center-achievement_info-text {
          padding: 1rem;
          p {
            font-size: 1.35rem;
          }
        }
      }
    }
  }
  section.more-for-study-center {
    div.more-for-study-center_wrapper {
      div.more-for-study-center_info {
        padding-bottom: 100px;
      }
      div.more-for-study-center_items {
        ul.more-for-study-center_items-list {
          display: block;
          padding-left: 0;
          li.more-for-study-center_item {
            max-width: none;
            span {
              text-align: left;
            }
          }
        }
        div.more-for-study-center-items_image {
          display: none;
        }
      }
    }
  }
  section.studying-magic {
    div.studying-magic_wrapper {
      h2.studying-magic_title {
        font-size: 2.25rem;
      }
    }
  }
}
@media screen and (max-width: 458px) {
  section.home-hero {
    div.container {
      div.home-hero_wrapper {
        div.home-hero_title {
          padding-bottom: 45px;
          h1.title {
            margin-bottom: 15px;
            span {
              font-size: 2.15rem;
            }
          }
        }
      }
    }
  }
  section.study-center-achievement {
    div.study-center-achievement_wrapper {
      div.study-center-achievement_info {
        display: flex;
        flex-direction: column;
        img {
          width: 300px;
          height: 200px;
        }
      }
      ul.study-center-achievement_items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 20px;
        li.mini-card {
          span.number {
            font-size: 2.25rem;
          }
        }
      }
    }
  }
  section.more-for-study-center {
    div.more-for-study-center_wrapper {
      div.more-for-study-center_info {
        div.more-for-study-center_info-text {
          h2.more-for-study-center_title {
            font-size: 2.5rem;
          }
        }
      }
    }
  }
  section.studying-magic {
    div.studying-magic_wrapper {
      h2.studying-magic_title {
        font-size: 2rem;
      }
    }
  }
}
@media screen and (max-width: 387px) {
  section.home-hero {
    background-image: linear-gradient(
      180deg,
      $color-grey-light 0%,
      $color-grey-light 40%,
      $color-dark 40%,
      $color-dark 100%
    );
    div.container {
      div.home-hero_wrapper {
        div.home-hero_title {
          h1.title {
            span {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
  section.study-center-achievement {
    div.study-center-achievement_wrapper {
      ul.study-center-achievement_items {
        li.mini-card {
          span.number {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
  section.studying-magic {
    div.studying-magic_wrapper {
      h2.studying-magic_title {
        font-size: 1.85rem;
      }
    }
  }
}
