header.header,
header.header-grey-light {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  transition: all 0.5s;

  div.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    width: 100%;
    margin: auto;
    padding: 0.5rem 1rem;

    section.header-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 234px;
      width: 100%;
      svg {
        fill: $color-dark;
        transform: rotate(-180deg);
      }
      a {
        font-size: 1rem;
        font-weight: 700;
        width: max-content;
        border: 2px solid $color-dark;
        border-radius: 20px;
        margin-left: 0.5rem;
        padding: 0.5rem;
      }
      & a:first-child {
        border: none;
        padding: 0;
        margin: 0;
      }
    }

    nav.header-navigation {
      max-width: 558px;
      width: 100%;
      ul.header-menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: auto 0;
        li {
          position: relative;
          padding: 1rem 0;
          & > a::after {
            content: "";
            display: block;
            position: absolute;
            top: 100%;
            left: 0;
            width: 0%;
            height: 2px;
            background-color: $color-blue;
          }
          &:hover > a {
            position: relative;
            color: $color-blue;
          }
          &:hover > a::after {
            width: 100%;
            transition: 0.5s;
          }
        }
        li.menu-company {
          position: relative;
          ul {
            position: absolute;
            top: 100%;
            left: 0;
            display: none;
            width: 12rem;
            background-color: $color-white;
            border-radius: 20px;
            li {
              padding: 0.75rem 1rem;
              svg {
                fill: $color-dark;
              }
            }
          }
          &:hover {
            ul {
              display: block;
            }
          }
        }
      }
    }

    ul.header-btn_desktop {
      display: flex;
      justify-content: space-around;
      align-items: center;
      min-width: 242px;
      margin: auto 0;
      li {
        padding: 0.5rem;
        &:first-child {
          a {
            width: max-content;
            font-size: 1rem;
            font-weight: 700;
            color: $color-white;
            border: 1px solid $color-dark;
            border-radius: 1.8rem;
            background-color: $color-dark;
            padding: 1rem;
          }
        }
      }
    }

    div.header-btn_mobile {
      display: none;
      position: relative;
      background-color: $color-white;
      width: 40px;
      height: 40px;
      padding: 5px;
      &::before,
      &::after,
      div.header-btn_mobile-between {
        position: absolute;
        top: 10px;
        left: 5px;
        content: "";
        width: 30px;
        height: 3px;
        background-color: $color-grey-dark;
        transition: all 0.2s;
      }
      &::after {
        top: 30px;
      }
      div.header-btn_mobile-between {
        top: 20px;
        transition: all 0.2s;
      }
      // mobile menu drop down
      &.menu-open {
        &::before,
        &::after {
          position: absolute;
          top: 50%;
          left: 50%;
          content: "";
          width: 30px;
          height: 3px;
          background-color: $color-grey-dark;
          transform: translate(-50%, -50%) rotate(45deg);
        }
        &::after {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
        div.header-btn_mobile-between {
          height: 0;
        }
      }
    }
  }
}

header.header-dark {
  div.header-container {
    section.header-logo {
      svg {
        fill: $color-grey-light;
      }
      a {
        color: $color-grey-light;
        border: 2px solid $color-grey-light;
      }
    }
    nav.header-navigation {
      ul.header-menu {
        li {
          a {
            color: $color-grey-light;
          }
          & > a::after {
            background-color: $color-grey-light;
          }
          &:hover > a {
            color: $color-grey-light;
          }
          // 修不好，待處理，hover後其他的改成灰色
          &:hover + a {
            color: $color-grey-dark;
          }
          li {
            a {
              color: $color-grey-dark;
              &:hover {
                color: $color-dark;
              }
            }
          }
        }
        li.menu-company {
          svg {
            fill: #f5f6f6;
          }
          ul {
            li {
              a {
                color: $color-dark;
              }
              & > a::after {
                background-color: $color-dark;
              }
            }
          }
        }
      }
    }
    ul.header-btn_desktop {
      li {
        a {
          color: $color-grey-light;
        }
        &:first-child {
          a {
            color: $color-dark;
            border: 1px solid $color-grey-light;
            background-color: $color-grey-light;
          }
        }
      }
    }
  }
}

div.header-mobile_menu {
  min-height: 100vh;
  background-color: $color-grey-light;
  transition: all 1s;
  div.header-mobile_menu_wrapper {
    padding: 80px 0 160px 0;
    nav.header-mobile_navigation {
      ul.header-mobile_navigation-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        li.header-mobile_navigation-list {
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.2;
          padding-bottom: 24px;
        }
        li.header-mobile_navigation-list.menu-list-has-children {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          & > a:first-child {
            position: relative;
            &::before,
            &::after {
              position: absolute;
              top: 50%;
              left: 110%;
              content: "";
              width: 10px;
              height: 4px;
              background-color: $color-grey-dark;
              transform: translate(30%, -50%) rotate(-45deg);
            }
            &::after {
              transform: translate(-30%, -50%) rotate(45deg);
            }
          }
          ul.header-mobile_navigation-children-menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 24px;
            padding-left: 0;
            li.header-mobile_navigation-children-list {
              font-size: 1.5rem;
              font-weight: 500;
              line-height: 1.2;
              padding-bottom: 24px;
            }
          }
        }
      }
    }
    ul.header-mobile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      li {
        width: max-content;
        font-size: 2rem;
        font-weight: 600;
        &:first-child {
          background-color: $color-blue;
          border-radius: 2rem;
          margin-bottom: 2rem;
          a {
            color: $color-grey-light;
            padding: 0.75rem 1.25rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  div.header-btn_mobile {
    display: block !important;
  }
  nav.header-navigation,
  ul.header-btn_desktop {
    display: none !important;
  }
  section.header-logo {
    justify-content: flex-start !important;
    & a:first-child {
      svg {
        margin-right: auto;
      }
    }
    & a:last-child {
      display: none;
    }
  }
}
