section.plan-type {
  div.plan-type_wrapper {
    padding: 180px 0;
    h2.plan-type_title {
      font-size: 3.5rem;
      font-weight: 700;
      letter-spacing: 1.2;
      line-height: 1.2;
      text-align: center;
      padding-bottom: 60px;
    }
    div.plan-type_pay-type {
      position: relative;
      // z-index: -10;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 220px;
      width: 100%;
      border-radius: 2rem;
      background-color: $color-dark;
      margin: 0 auto 80px;
      div.plan-type_switch-slider {
        position: absolute;
        // z-index: -1;
        left: 0;
        top: 0;
        width: 50%;
        height: 100%;
        background-color: $color-grey-light;
        border-radius: 2rem;
        box-shadow: 0 0 5px $color-grey-dark;
        transition: transform 0.5s;
      }
      label.plan-type_switch-item {
        position: relative;
        z-index: 0;
        padding: 20px;
        cursor: pointer;
        input[type="radio"] {
          appearance: none;
          width: 0;
          height: 0;
          padding: 0;
          margin: 0;
          overflow: hidden;
          opacity: 0;
          &:checked ~ span {
            color: $color-dark;
            transition: color 0.5s;
          }
        }
        span.plan-type_switch-text {
          font-size: 1rem;
          font-weight: 600;
          letter-spacing: 1.2;
          color: $color-white;
        }
      }
    }
    div.plan-type_group {
      ul.plan-type_group-menu {
        display: flex;
        justify-content: center;
        gap: 40px;
        li.plan-type_group-item {
          display: grid;
          grid-template-rows: repeat(4, auto) 1fr;
          gap: 10px;
          max-width: 380px;
          width: 100%;
          background-color: $color-grey-light;
          border: 1px solid $color-dark;
          border-radius: 2rem;
          vertical-align: top;
          padding: 20px;
          div.plan-type_group-item-logo {
            max-width: max-content;
            border-radius: 50%;
            background-color: $color-white;
            margin: auto;
          }
          h3.plan-type_group-item-title {
            font-size: 2rem;
            font-weight: 600;
            letter-spacing: 1.2;
            line-height: 1.2;
            text-align: center;
          }
          span.plan-type_group-item-description {
            font-weight: 600;
            letter-spacing: 1.2;
            color: $color-grey-dark;
            text-align: center;
            padding-bottom: 20px;
          }
          div.plan-type_group-item-price {
            position: relative;
            max-width: 300px;
            width: 100%;
            background-color: $color-white;
            border-radius: 2rem;
            // box-shadow: 0 0 5px $color-grey-dark;
            padding: 40px 0;
            margin: 0 auto 20px;
            span.plan-type_group-item-price-unit {
              position: absolute;
              left: 10%;
              top: 10%;
              font-size: 1.25rem;
              font-weight: 500;
              color: $color-grey-dark;
            }
            h4.plan-type_group-item-price-number {
              font-size: 3.5rem;
              font-weight: 600;
              text-align: center;
            }
          }
          span.plan-type_group-item-discount {
            font-size: 1rem;
            font-weight: 600;
            letter-spacing: 1.2;
            line-height: 1.2;
            color: $color-grey-dark;
            text-align: center;
            padding-bottom: 30px;
          }
          a.plan-type_group-item-submit {
            width: max-content;
            color: $color-white;
            font-size: 1rem;
            border: 1px solid $color-blue;
            background-color: $color-blue;
            border-radius: 2rem;
            padding: 1rem;
            margin: auto;
            cursor: pointer;
          }
        }
      }
    }
  }
}
section.faq {
  div.faq_wrapper {
    max-width: 1000px;
    width: 100%;
    padding: 180px 0;
    margin: auto;
    div.faq-content {
      padding-bottom: 80px;
      h2.faq-title {
        font-size: 3.5rem;
        font-weight: 600;
        color: $color-white;
        padding-bottom: 20px;
      }
      span.faq-subtitle {
        display: block;
        font-size: 1.15rem;
        font-weight: 600;
        color: $color-grey-dark;
      }
    }
    div.faq-accordion {
      ul.faq-accordion_list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 20px;
        li.faq-accordion_card {
          position: relative;
          width: 100%;
          background-color: $color-white;
          border-radius: 1rem;
          padding: 4rem 3rem;
          margin: 20px;
          h3.faq-accordion_card-title {
            font-size: 2rem;
            font-weight: 600;
            padding-right: 100px;
          }
          ol.faq-accordion_card-contents {
            display: none;
            li.faq-accordion_card-content {
              list-style: decimal;
            }
          }
          button.faq-accordion_card-arrow {
            position: absolute;
            top: 85px;
            right: 10%;
            transform: translateY(-50%);
            background-color: transparent;
            border: 1px solid rgba($color-grey-dark, 0.5);
            border-radius: 50%;
            padding: 0.5rem;
            cursor: pointer;
          }
          div.faq-accordion_card-delete {
            position: absolute;
            display: none;
            right: 10px;
            top: 10px;
            animation: shakeTrashcan 0.1s linear infinite alternate;
            cursor: pointer;
            svg {
              fill: $color-white;
            }
            &.active {
              display: block;
              transition: display 1s;
            }

            @keyframes shakeTrashcan {
              0% {
                transform: rotate(-15deg);
              }
              100% {
                transform: rotate(15deg);
              }
            }
          }
          &.active {
            ol.faq-accordion_card-contents {
              display: block;
              color: $color-grey-dark;
              text-align: justify;
              letter-spacing: 1;
              line-height: 1.3;
              padding: 20px 55px 20px 20px;
              li.faq-accordion_card-content {
                padding-bottom: 10px;
              }
            }
            button.faq-accordion_card-arrow {
              background-color: $color-blue;
              fill: $color-white;
              transform: rotate(180deg) translateY(27px);
            }
          }
        }
      }
    }
    h3.faq-alert {
      font-size: 1.15rem;
      font-weight: 600;
      color: $color-grey-dark;
      text-align: justify;
    }
  }
}
