section.plan-type {
  svg {
    width: 100px;
    height: 100px;
  }
  div.plan-type_wrapper {
    padding: 180px 0;
    h2.plan-type_title {
      font-size: 3.5rem;
      font-weight: 700;
      letter-spacing: 1.2;
      line-height: 1.2;
      text-align: center;
      padding-bottom: 60px;
    }
    div.plan-type_pay-type {
      position: relative;
      // z-index: -10;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 220px;
      width: 100%;
      border-radius: 2rem;
      background-color: $color-dark;
      margin: 0 auto 80px;
      div.plan-type_switch-slider {
        position: absolute;
        // z-index: -1;
        left: 0;
        top: 0;
        width: 50%;
        height: 100%;
        background-color: $color-grey-light;
        border-radius: 2rem;
        box-shadow: 0 0 5px $color-grey-dark;
        transition: transform 0.5s;
      }
      label.plan-type_switch-item {
        position: relative;
        z-index: 0;
        padding: 20px;
        cursor: pointer;
        input[type="radio"] {
          appearance: none;
          width: 0;
          height: 0;
          padding: 0;
          margin: 0;
          overflow: hidden;
          opacity: 0;
          &:checked ~ span {
            color: $color-dark;
            transition: color 0.5s;
          }
        }
        span.plan-type_switch-text {
          font-size: 1rem;
          font-weight: 600;
          letter-spacing: 1.2;
          color: $color-white;
        }
      }
    }
    div.plan-type_group {
      ul.plan-type_group-menu {
        display: flex;
        justify-content: center;
        gap: 40px;
        padding-left: 0;
        li.plan-type_group-item {
          display: grid;
          grid-template-rows: repeat(4, auto) 1fr;
          gap: 10px;
          max-width: 380px;
          width: 100%;
          background-color: $color-grey-light;
          border: 1px solid $color-dark;
          border-radius: 2rem;
          vertical-align: top;
          padding: 20px;
          div.plan-type_group-item-logo {
            max-width: max-content;
            border-radius: 50%;
            background-color: $color-white;
            margin: auto;
          }
          div.plan-type_group-item-body {
            h3.plan-type_group-item-title {
              font-size: 2rem;
              font-weight: 600;
              letter-spacing: 1.2;
              line-height: 1.2;
              text-align: center;
            }
            span.plan-type_group-item-description {
              display: block;
              font-weight: 600;
              letter-spacing: 1.2;
              color: $color-grey-dark;
              text-align: center;
              padding-bottom: 20px;
            }
          }
          div.plan-type_group-item-price {
            position: relative;
            max-width: 300px;
            width: 100%;
            background-color: $color-white;
            border-radius: 2rem;
            // box-shadow: 0 0 5px $color-grey-dark;
            padding: 40px 0;
            margin: 0 auto 20px;
            &.period-price {
              padding: 24px 0;
            }
            span.plan-type_group-item-price-unit {
              position: absolute;
              left: 10%;
              top: 10%;
              font-size: 1.25rem;
              font-weight: 500;
              color: $color-grey-dark;
            }
            h4.plan-type_group-item-price-number {
              font-size: 3.5rem;
              font-weight: 600;
              text-align: center;
              span.plan-type_group-item-period {
                display: block;
                font-size: 1.75rem;
              }
            }
            span.plan-type_group-item-discount-mobile {
              display: none;
            }
          }
          span.plan-type_group-item-discount {
            font-size: 1rem;
            font-weight: 600;
            letter-spacing: 1.2;
            line-height: 1.2;
            color: $color-grey-dark;
            text-align: center;
            padding-bottom: 30px;
          }
          a.plan-type_group-item-submit {
            width: max-content;
            color: $color-white;
            font-size: 1rem;
            border: 1px solid $color-blue;
            background-color: $color-blue;
            border-radius: 2rem;
            padding: 1rem;
            margin: auto;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  section.plan-type {
    div.plan-type_wrapper {
      div.plan-type_group {
        ul.plan-type_group-menu {
          flex-direction: column;
          align-items: center;
          li.plan-type_group-item {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-template-areas:
              "tl tl tr tr tr tr"
              "bl bl bl bl . br";
            gap: 0;
            max-width: none;
            div.plan-type_group-item-logo {
              grid-area: tl;
            }
            div.plan-type_group-item-body {
              display: grid;
              grid-template-rows: repeat(2, 1fr);
              grid-area: tr;
              h3.plan-type_group-item-title {
                align-self: end;
                font-size: 3rem;
              }
              span.plan-type_group-item-description {
                align-self: center;
                font-size: 1.25rem;
              }
            }
            div.plan-type_group-item-price {
              grid-area: bl;
              max-width: none;
              box-shadow: 0 0 5px $color-grey-dark;
              margin: 0;
              span.plan-type_group-item-discount-mobile {
                display: block;
                position: absolute;
                left: 0%;
                top: 75%;
                width: 100%;
                font-size: 1rem;
                font-weight: 600;
                text-align: center;
                line-height: 1.2;
                color: $color-grey-dark;
              }
            }
            span.plan-type_group-item-discount {
              display: none;
            }
            a.plan-type_group-item-submit {
              grid-area: br;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  h3.plan-type_group-item-title {
    font-size: 2.5rem !important;
  }
  span.plan-type_group-item-description {
    font-size: 1rem !important;
  }
}
@media screen and (max-width: 576px) {
  section.plan-type {
    svg {
      width: 75px;
      height: 75px;
    }
  }
  h3.plan-type_group-item-title {
    font-size: 2rem !important;
  }
}
@media screen and (max-width: 467px) {
  section.plan-type {
    div.plan-type_wrapper {
      div.plan-type_group {
        ul.plan-type_group-menu {
          li.plan-type_group-item {
            display: flex;
            flex-direction: column;
            div.plan-type_group-item-price {
              margin-bottom: 1rem;
            }
          }
        }
      }
    }
  }
}
