div.time-picker {
  position: relative;
  display: flex;
  border: 1px solid rgb($color-dark, 0.2);
  border-radius: 4px;
  margin: 1rem 0;
  &.input-focus {
    border: 2px solid $color-blue;
  }
  &:hover:not(.input-focus) {
    border: 1px solid $color-dark;
  }
  div.time-picker_time {
    position: relative;
    border-right: none;
    label {
      position: absolute;
      left: 8px;
      top: -8px;
      font-size: 0.75rem;
      font-weight: 400;
      color: rgb($color-dark, 0.6);
      background-color: $color-grey-light;
      padding: 0 4px;
    }
    input[type="text"] {
      background-color: $color-grey-light;
      border: none;
      border-radius: 4px;
      padding: 16.5px 0 16.5px 14px;
      outline: none;
    }
  }
  div.time-picker_btn {
    position: relative;
    width: 100%;
    border: none;
    button {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      justify-content: flex-end;
      width: 40px;
      border: none;
      background-color: transparent;
      padding: 8px;
      &:hover {
        background-color: darken($color-grey-light, 5%);
        border-radius: 50%;
      }
      svg {
        fill: rgb($color-dark, 0.6);
      }
    }
  }
}
div.time-dropdown {
  position: absolute;
  z-index: 1;
  top: 105%;
  right: 0;
  background-color: $color-white;
  border-radius: 4px;
  box-shadow: 0 0 5px rgb($color-dark, 0.54);
  div.time-dropdown_wrapper {
    display: flex;
    flex-direction: column;
    div.time-dropdown_digital-clock {
      display: flex;
      height: 200px;
      ul.time-dropdown_digital-hours,
      ul.time-dropdown_digital-minutes {
        width: 60px;
        height: 200px;
        text-align: center;
        border: 1px solid rgb($color-dark, 0.1);
        padding: 0;
        margin: auto;
        overflow: hidden;
        cursor: pointer;
        &:hover {
          overflow: auto;
        }
        li.time-dropdown_digital-hour,
        li.time-dropdown_digital-minute {
          &:hover {
            background-color: $color-grey-light;
          }
          &.selected {
            color: $color-white;
            background-color: $color-blue;
          }
        }
      }
    }
  }
}
